@{
    ViewBag.Title = "AccessDetails";
}
<script src="~/Scripts/Merlin/serviceAPIUser.js?v=@System.Configuration.ConfigurationManager.AppSettings["APP_VERSION"]"></script>
<div id="accessDetails" class="padding-top-15">
    <h1 class="no-margin">Access Details</h1>
    <div class="row padding-top-15">
        <div class="col-md-12 margin-bottom-10">
            <div class="hide pageContent" id="addNewAccesRights">
                <div class="container-fluid" id="uploadNewAccessRight">
                    <h2>Add Access Rights</h2>
                    <br />
                    <form method="post" enctype="multipart/form-data" name="uploadForm">
                        <div class="form-group cebDropDownList">
                            <label for="companyName">Client Name:</label><br />
                            <input id="companyName" name="companyName" class="margin-top-5  form-control max-width-400" style="width:400px" />
                        </div>
                        <div class="form-group cebDropDownList">
                            <label for="email">Email:</label><br />
                            <input id="email" name="email" class="margin-top-5  form-control max-width-400" style="width:400px" />
                        </div>
                        <div class="form-group">
                            <label class="checkbox-inline">
                                <input type="checkbox" id="isAdmin" name="isAdmin" value="" class="margin-top-5" style="margin-top: 4px;"><strong>Is Admin</strong>
                            </label>
                        </div>
                        <div class="form-group">
                            <input type="button" class="btn btn-default" value="Add" onclick="addNewUser('@Session["UserId"]')">
                            <input type="button" class="btn btn-primary" value="Cancel" id="cancelAccesRights" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-bottom-10">
        <div class="col-md-12 ">
            <span class="btn btn-primary pull-right margin-5 accessRightServiceItem" onclick="deleteService()"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;&nbsp;Bulk Delete </span>
            <span class="btn btn-primary pull-right margin-5 accessRightServiceItem" id="addNewAccessBtn"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add Access Rights </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 margin-bottom-20 customKendoTabel adminKendoTable">
            <div class="accessRightServiceItem" id="accessRightsDetails" kendo-grid k-options="gridOptions"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#page-spinner").show();
        loadUsers();
        getAvailInstitutionList(getMembersDropDown, "accessDetails");
    });

    function loadUsers() {
        getRequestToServer("accessRight", true, function (accessDetailsData) {
            $("#page-spinner").hide();
            if (accessDetailsData.length > 0) {
                if ($("#accessRightsDetails").data("kendoGrid") != undefined) {
                    var grid = $("#accessRightsDetails").data("kendoGrid");
                    var dataSource = new kendo.data.DataSource({
                        data: accessDetailsData,
                        pageSize: grid.dataSource._pageSize
                    });
                    grid.setDataSource(dataSource);
                    grid.dataSource.read();
                }
                else {
                    $("#accessRightsDetails").empty();
                    accessDetailsKendoGrid.dataSource.data = accessDetailsData;
                    $("#accessRightsDetails").kendoGrid(accessDetailsKendoGrid);
                }
                //bind click event to the checkbox
                $("#accessRightsDetails").data("kendoGrid").table.on("click", ".chkbx", selectRow);
                $("#addNewAccesRights").removeClass("show").addClass("hide");
                $(".importServiceItem").removeClass("hide").addClass("show");
            }
            else {
                $("#accessRightsDetails").replaceWith("<div id='accessRightsDetails' class='importServiceItem'><span  class=nodatadisplay>No data to display</span></div>");
                $("#addNewSurveyBtn").trigger("click");
                $(".importServiceItem").removeClass("show").addClass("hide");
            }
        });
    }

    function getMembersDropDown(memberNameList) {
        $("#companyName").kendoDropDownList({
            filter: "startswith",
            dataTextField: "name",
            dataValueField: "id",
            dataSource: memberNameList,
            filtering: onFiltering,
            dataBound: onDataBound
        });
    }

    function onFiltering(e) {
        $('.k-i-arrow-s').addClass('k-loading');
    }
    function onDataBound(e) {
        $('.k-i-arrow-s').removeClass('k-loading');
    };

    function deleteUsers(idlist) {
        $("#page-spinner").show();
        deleteUser(idlist, '@Session["UserId"]', function () {
            loadUsers();
        });
    }

    //Bulk delete
    function deleteService() {
        var idsToSend = [];
        var grid = $("#accessRightsDetails").data("kendoGrid");
        var ds = grid.dataSource.view();
        for (var i = 0; i < ds.length; i++) {
            var row = grid.table.find("tr[data-uid='" + ds[i].uid + "']");
            var checkbox = $(row).find(".checkbox");
            if (checkbox.is(":checked")) {
                idsToSend.push(ds[i].Id);
            }
        }
        if (idsToSend.length == 0) {
            failureAlert('Please select users you want to delete');
        }
        else
            deleteUsers(idsToSend);
    }

    $("#addNewAccessBtn").click(function () {
        $("#email").val('');
        $("#isAdmin").prop('checked', false);
        if ($("#addNewAccesRights").hasClass("hide")) {
            // Show hide div
            $("html, body").animate({ scrollTop: 0 }, 1000);
            $("#addNewAccesRights input[type='text']").val('');
            $("#addNewAccesRights").fadeIn("slow");
            $("#addNewAccesRights").removeClass("hide").addClass("show");
        }
    });

    $("#cancelAccesRights").click(function () {
        $("#addNewAccesRights").fadeOut("slow");
        $("#addNewAccesRights").removeClass("show").addClass("hide");
    });

</script>


