@{
    ViewBag.Title = "ImportFile";
}

<script src="~/Scripts/Merlin/serviceAPIAdmin.js?v=@System.Configuration.ConfigurationManager.AppSettings["APP_VERSION"]"></script>
<div id="importFile" class="padding-top-15">

    <h1 class="no-margin"> Add Survey Data </h1>
    <div class="row padding-top-15">
        <div class="col-md-12 margin-bottom-10">
            <div class="hide pageContent" id="addNewSurvey">
                <div class="container-fluid" id="uploadNewSurvey">
                    <h2>Upload New Survey</h2>
                    <br />
                    <form method="post" enctype="multipart/form-data" name="uploadForm">
                        <p id="noMoreNewMemberMessage"><span class="error"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>&nbsp;Survey data has been uploaded for all the clients which you have added already. Please <strong>@Html.ActionLink("click here", "MemberProfile", "Admin")</strong> to add new client.</p>

                        <div class="form-group cebDropDownList">
                            <label for="companyName">Client Name:</label><br />
                            <input id="companyName" name="companyName" class="margin-top-5  form-control max-width-400" style="width:400px" />
                        </div>

                        <div class="form-group">
                            <label for="file">File:</label><br />
                            <input type="file" class="margin-top-5  form-control max-width-400" id="file" name="file" value="browse" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                        </div>
                                                                  
                        <div class="form-group">
                            <input type="button" class="btn btn-default" value="Upload" onclick="uploadFile(false,@Session["CompanyId"],@Session["UserId"])">
                            <input type="button" class="btn btn-primary" value="Cancel" id="cancelAddSurvey" />
                        </div>
                    </form>
                </div>
                <div class="container-fluid" id="noMemberMessage">
                    No clients found. Please <strong>@Html.ActionLink("click here", "MemberProfile", "Admin")</strong> to add new client.
                </div>
            </div>

            <div class="hide pageContent" id="editSurvey">
                <div class="container-fluid">
                    <h2>Update Survey</h2>
                    <br />
                    <form method="post" enctype="multipart/form-data" name="updateForm">
                        <input type="hidden" id="editRecordId" />

                        <div class="form-group cebDropDownList">
                            <label for="editCompanyName">Client Name:</label><br />
                            <input id="editCompanyName" name="editCompanyName" readonly class="margin-top-5  form-control max-width-400" style="width:400px" />
                        </div>

                        <div class="form-group">
                            <label for="editFile">File:</label><br />
                            <input type="file" class="margin-top-5  form-control max-width-400" id="editFile" name="editFile" value="browse" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                        </div>
                        <input type="hidden" id="oldFileName"/>
                        <div class="form-group">
                            <input type="button" class="btn btn-default" value="Upload" onclick="uploadFile(true,@Session["CompanyId"],@Session["UserId"])">
                            <input type="button" class="btn btn-primary" value="Cancel" id="cancelEditSurvey" />
                        </div>
                    </form>
                </div>
            </div>

            <div class="hide pageContent" id="uploadReport">
                <div class="container-fluid">
                    <h2>Upload Summary Report</h2>
                    <br />
                    <form method="post" enctype="multipart/form-data" name="uploadReportForm">
                        <input type="hidden" id="reportRecordId" />

                        <div class="form-group cebDropDownList">
                            <label for="reportCompanyName">Client Name:</label><br />
                            <input id="reportCompanyName" name="reportCompanyName" readonly class="margin-top-5  form-control max-width-400" style="width:400px" />
                        </div>

                        <div class="form-group">
                            <label for="file">Upload Summary Report:</label><br />
                            <input type="file" class="margin-top-5  form-control max-width-400" id="reportFile" name="reportFile" value="browse" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                        </div>
                        <input type="hidden" id="oldSummaryReportName" />
                        <div class="form-group">
                            <input type="button" class="btn btn-default" value="Upload" onclick="uploadSummaryReportForMember(@Session["CompanyId"],@Session["UserId"])">
                            <input type="button" class="btn btn-primary" value="Cancel" id="cancelUploadReport" />
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="row margin-bottom-10">
        <div class="col-md-12 ">
            <span class="btn btn-primary pull-right margin-5 importServiceItem" onclick="deleteService()"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;&nbsp;Bulk Delete </span>
            <span class="btn btn-primary pull-right margin-5 importServiceItem" id="addNewSurveyBtn"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Upload New Survey </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 margin-bottom-20">
            <h1 id="h2Title">Existing file log</h1>
            <div class="customKendoTabel adminKendoTable">
                <div id="memberProfileDetails" kendo-grid k-options="gridOptions"></div>
            </div>
           
            <div class="margin-top-10 margin-bottom-10 noteText importServiceItem">
                <strong>Note:</strong> Deleting a file will also delete the report and all associated data
            </div>
        </div>
    </div>

</div>


<script>
    function loadMembers() {
        getMembersList("importFile", true, function (memberProfileData) {
            $("#page-spinner").hide();
            if (memberProfileData.length > 0) {
                if ($("#memberProfileDetails").data("kendoGrid") != undefined) {
                    var grid = $("#memberProfileDetails").data("kendoGrid");
                    var dataSource = new kendo.data.DataSource({
                        data: memberProfileData,
                        pageSize: grid.dataSource._pageSize
                    });
                    grid.setDataSource(dataSource);
                    grid.dataSource.read();
                }
                else {
                    $("#memberProfileDetails").empty();
                    importKendoGrid.dataSource.data = memberProfileData;
                    $("#memberProfileDetails").kendoGrid(importKendoGrid);
                }
                $("#addNewSurvey").removeClass("show").addClass("hide");
                $(".importServiceItem").removeClass("hide").addClass("show");
                $("#h2Title").removeClass("hide").addClass("show");
            }
            else {
                $("#memberProfileDetails").replaceWith("<div id='memberProfileDetails'><span  class=nodatadisplay>No data to display</span></div>");
                $("#addNewSurveyBtn").trigger("click");
                $(".importServiceItem").removeClass("show").addClass("hide");
                $("#h2Title").removeClass("show").addClass("hide");
            }
        });
    }

    function getMembersDropDown(memberNameList) {
        if (memberNameList.length > 0)
            $("#noMoreNewMemberMessage").css("display", "none");
        else
            $("#noMoreNewMemberMessage").css("display", "block");

        $("#companyName").kendoDropDownList({
            filter: "startswith",
            dataTextField: "name",
            dataValueField: "id",
            dataSource: memberNameList,
            filtering: onFiltering,
            dataBound: onDataBound
        });
    }
    function onFiltering(e) {
        $('.k-i-arrow-s').addClass('k-loading');
    }
    function onDataBound(e) {
        $('.k-i-arrow-s').removeClass('k-loading');
    };
    $(document).ready(function () {
        $("#page-spinner").show();
        loadMembers();
        getAvailInstitutionList(getMembersDropDown);
    });

    function downloadFile(args) {
        var tr = $(args).closest("tr");
        var dataItem = $("#memberProfileDetails").data("kendoGrid").dataItem(tr);
    }

    function deleteData(idlist) {
        var companyLength = idlist.length == 1 ? "client" : "clients";
        confirmationAlert("Are you sure you want to delete selected " + companyLength + "?", function (flag) {
            if (flag) {
                $("#page-spinner").show();
                deleteSurveyData(idlist, function () {
                    $("#page-spinner").show();
                    loadMembers();
                });
            }
        });

    }

  

    //Bulk delete


    function deleteService() {
        var modelToSend=[];
        var grid = $("#memberProfileDetails").data("kendoGrid")
        var ds = grid.dataSource.view();
        for (var i = 0; i < ds.length; i++) {
            var row = grid.table.find("tr[data-uid='" + ds[i].uid + "']");
            var checkbox = $(row).find(".checkbox");
            if (checkbox.is(":checked")) {
                modelToSend.push({
                    Id:ds[i].Id,
                    MemberName:ds[i].MemberName,
                    FileName:ds[i].FileName,
                    SummaryReportName:ds[i].SummaryReportName,
                    TimePeriod:ds[i].TimePeriod
                });
                //idsToSend.push(ds[i].Id);
            }
        }
        if (modelToSend.length == 0) {
            failureAlert('Please select clients you want to delete survey');
        }
        else
            deleteData(modelToSend);
            //deleteData(idsToSend);
    }

    $("#addNewSurveyBtn").click(function () {
        if ($("#addNewSurvey").hasClass("hide")) {
            // Show hide div
            $("#editSurvey").removeClass("show").addClass("hide");
            $("#uploadReport").removeClass("show").addClass("hide");
            $("html, body").animate({ scrollTop: 0 }, 1000);
            $("#addNewSurvey input[type='text']").val('');
            $("#addNewSurvey").fadeIn("slow");
            $("#addNewSurvey").removeClass("hide").addClass("show");
        }
    });


    $("#cancelAddSurvey").click(function () {
        $("#addNewSurvey").fadeOut("slow");
        $("#addNewSurvey").removeClass("show").addClass("hide");
    });

    $("#cancelEditSurvey").click(function () {
        $("#editSurvey").fadeOut("slow");
        $("#editSurvey").removeClass("show").addClass("hide");
    });

    
    $("#cancelUploadReport").click(function () {
        $("#uploadReport").fadeOut("slow");
        $("#uploadReport").removeClass("show").addClass("hide");
    });

    
    function refreshField(id) {
        $("#" + id + " input[type='text']").val('');
    }

</script>
