@{
    ViewBag.Title = "MemberProfile";
}
<script src="~/Scripts/Merlin/serviceAPIAdmin.js?v=@System.Configuration.ConfigurationManager.AppSettings["APP_VERSION"]"></script>
<div id="importFile" class="padding-top-15">
    <h1 class="no-margin"> Client Profile </h1>
    <div class="row padding-top-15">
        <div class="col-md-12 margin-bottom-10">
            <form class="form-horizontal pageContent hide margin-top-15" id="addNewRecord">
                <h2>Add Client</h2>
                <div class="form-group margin-top-10 margin-bottom-10 cebDropDownList">
                    <label class="control-label col-sm-12  col-md-2" for="companyName">Client Name <span class="error">*</span></label>
                    <div class="col-sm-12 col-md-6">
                        <input type="text" class="form-control width-100" id="companyName">
                    </div>
                </div>
                <div class="form-group margin-top-10 margin-bottom-10">
                    <label class="control-label col-sm-12  col-md-2" for="industry">Industry</label>
                    <div class="col-sm-12 col-md-6">
                        <input type="text" class="form-control" id="industry">
                    </div>
                </div>
                <div class="form-group margin-top-10 margin-bottom-10">
                    <label class="control-label col-sm-12  col-md-2" for="revenue">Revenue</label>
                    <div class="col-sm-12 col-md-6">
                        <input type="text" class="form-control" id="revenue">
                    </div>
                </div>
                <div class="form-group margin-top-10 margin-bottom-10">
                    <label class="control-label col-sm-12  col-md-2" for="region">Region</label>
                    <div class="col-sm-12 col-md-6">
                        <input type="text" class="form-control" id="region">
                    </div>
                </div>
                <div class="form-group margin-top-10 margin-bottom-10">
                    <label class="control-label col-sm-12  col-md-2" for=""></label>
                    <div class="col-sm-12  col-md-6">
                        <input type="button" class="btn btn-primary" value="Add" id="addMember" onclick="addNewMember(@Session["UserId"])" />
                        <input type="button" class="btn btn-primary" value="Cancel" id="cancelAddMember" />
                    </div>
                </div>
            </form>

            <form class="form-horizontal pageContent hide margin-top-15" id="editRecord">
                <h2>Edit Record</h2>
                <input type="hidden" id="editRecordId" />
                <input type="hidden" id="editFileName" />
                <input type="hidden" id="editTimePeriod" />
                <div class="form-group margin-top-10 margin-bottom-10">
                    <label class="control-label col-sm-12  col-md-2" for="searchMember">Client Name <span class="error">*</span></label>
                    <div class="col-sm-12 col-md-6">
                        <input type="text" class="form-control width-100 disabled" readonly id="editMemberName">
                    </div>
                </div>
                <div class="form-group margin-top-10 margin-bottom-10">
                    <label class="control-label col-sm-12  col-md-2" for="industry">Industry</label>
                    <div class="col-sm-12 col-md-6">
                        <input type="text" class="form-control" id="editIndustry">
                    </div>
                </div>
                <div class="form-group margin-top-10 margin-bottom-10">
                    <label class="control-label col-sm-12  col-md-2" for="revenue">Revenue</label>
                    <div class="col-sm-12 col-md-6">
                        <input type="text" class="form-control" id="editRevenue">
                    </div>
                </div>
                <div class="form-group margin-top-10 margin-bottom-10">
                    <label class="control-label col-sm-12  col-md-2" for="region">Region</label>
                    <div class="col-sm-12 col-md-6">
                        <input type="text" class="form-control" id="editRegion">
                    </div>
                </div>
                <div class="form-group margin-top-10 margin-bottom-10">
                    <label class="control-label col-sm-12  col-md-2" for=""></label>
                    <div class="col-sm-12  col-md-6">
                        <input type="button" class="btn btn-primary" value="Update" id="editMember" onclick="updateMemberDetails('@Session["UserId"]')" />
                        <input type="button" class="btn btn-primary" value="Cancel" id="cancelEditMember" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row margin-bottom-10">
        <div class="col-md-12">
            <div class="btn btn-primary pull-right margin-5 importServiceItem" onclick="deleteService()"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;&nbsp;Bulk Delete </div>
            <div class="btn btn-primary pull-right margin-5 importServiceItem" id="addNewRecordBtn"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add Client </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 margin-bottom-20 customKendoTabel adminKendoTable">
            <div id="memberProfileDetails" kendo-grid k-options="gridOptions"></div>
        </div>
    </div>

</div>


<script type="text/javascript">

    function loadInstitutionList() {
        getInstitutionList(function (memberNameList) {
            $("#page-spinner").hide();;
            $("#companyName").kendoDropDownList({
                filter: "startswith",
                dataTextField: "name",
                dataValueField: "displayId",
                dataSource: memberNameList
            });
        });
    }

    $(document).ready(function () {
        $("#page-spinner").show();
        loadInstitutionList();
        loadMembers();
    });

    function loadMembers() {
        getMembersList("memberProfile", false, function (memberProfileData) {
            if (memberProfileData.length > 0) {
                if ($("#memberProfileDetails").data("kendoGrid") != undefined) {
                    var grid = $("#memberProfileDetails").data("kendoGrid");
                    var dataSource = new kendo.data.DataSource({
                        data: memberProfileData,
                        pageSize: grid.dataSource._pageSize
                    });
                    grid.setDataSource(dataSource);
                    grid.dataSource.read();
                }
                else {
                    $("#memberProfileDetails").empty();
                    kendoGridObj.dataSource.data = memberProfileData;
                    $("#memberProfileDetails").kendoGrid(kendoGridObj);
                }
                $(".importServiceItem").removeClass("hide").addClass("show");
            }
            else {
                $("#memberProfileDetails").replaceWith("<div id='memberProfileDetails'><span  class=nodatadisplay>No data to display</span></div>");
                $("#addNewRecordBtn").trigger("click");
                $(".importServiceItem").removeClass("show").addClass("hide");
            }
        });

    }

    function deleteMembers(idlist) {
        if (idlist.length == 0) {
            failureAlert("Please select client which you want to delete?");
        }
        else {
            var companyLength = idlist.length == 1 ? "client" : "clients";
            confirmationAlert("Are you sure you want to delete selected " + companyLength + "?", function (flag) {
                if (flag) {
                    $("#page-spinner").show();
                    deleteMembersList(idlist, '@Session["CompanyId"]', function () {
                        loadInstitutionList();
                        loadMembers();
                    });
                }
            });
        }
    }

    //Bulk delete
    function deleteService() {
        var idsToSend = [];
        var grid = $("#memberProfileDetails").data("kendoGrid")
        var ds = grid.dataSource.view();
        for (var i = 0; i < ds.length; i++) {
            var row = grid.table.find("tr[data-uid='" + ds[i].uid + "']");
            var checkbox = $(row).find(".checkbox");
            if (checkbox.is(":checked")) {
                idsToSend.push(ds[i].Id);
            }
        }
        deleteMembers(idsToSend);
    }

    function loadMemberReport(id,timeperiod)
    {
        if(timeperiod == 0)
        {
            failureAlert("No survey data found for this client.");
            return;
        }
        //localStorage.removeItem("ca_categoryId");
        localStorage.removeItem("categoryId");
        localStorage.removeItem("ca_metricId");
        localStorage.removeItem("ca_kpiId");
        //localStorage.removeItem("sc_categoryId");
        localStorage.removeItem("sc_supplierId");
        //localStorage.removeItem("sc_demographic");
        //localStorage.removeItem("sc_demographicOption");

        localStorage.setItem("selectedMember", id);
        window.location = "@Url.Action("Overall", "Home")";
    }


    $("#cancelAddMember").click(function () {
        $("#addNewRecord").fadeOut("slow");
        $("#addNewRecord").removeClass("show").addClass("hide");
    });

    $("#cancelEditMember").click(function () {
        $("#editRecord").fadeOut("slow");
        $("#editRecord").removeClass("show").addClass("hide");
    });

    $("#addNewRecordBtn").click(function () {
        if ($("#addNewRecord").hasClass("hide")) {
            // Show hide div
            $("html, body").animate({ scrollTop: 0 }, 1000);
            $("#editRecord").fadeOut("slow");
            $("#editRecord").removeClass("show").addClass("hide");
            $("#addNewRecord").fadeIn("slow");
            $("#addNewRecord").removeClass("hide").addClass("show");
            refreshField("addNewRecord");
        }
    });

    function refreshField(id) {
        $("#" + id + " input[type='text']").val('');
    }

</script>
