@{
    ViewBag.Title = "Log";
}

<div id="accessDetails" class="padding-top-15">
    <h1 class="no-margin">Log Details</h1>
    From Date : <input type="text" id="fromDate" name="fromDate" />
    To Date : <input type="text" id="toDate" name="toDate" />

    <input type="button" value="Show Log" id="btnclick" />

    <div class="row">
        <div class="col-md-12 margin-bottom-20 customKendoTabel adminKendoTable">
            <div class="accessRightServiceItem" id="accessRightsDetails" kendo-grid k-options="gridOptions"></div>
        </div>
    </div>
</div>
<script>
    $("#btnclick").click(function () {
        $("#page-spinner").show();
        $.ajax({
            url: config_data.WEBAPI_URL + "/api/v1/APILog/GetLog",
            type: 'Get',
            success: function (response) {
                $("#page-spinner").hide();
                if (response.Status == 1) {
                    var response = JSON.parse(response.Data);
                    if (response.length > 0) {
                        if ($("#accessRightsDetails").data("kendoGrid") != undefined) {
                            var grid = $("#accessRightsDetails").data("kendoGrid");
                            var dataSource = new kendo.data.DataSource({
                                data: response,
                                pageSize: grid.dataSource._pageSize
                            });
                            grid.setDataSource(dataSource);
                            grid.dataSource.read();
                        }
                        else {
                            $("#accessRightsDetails").empty();
                            accessDetailsKendoGrid.dataSource.data = response;
                            $("#accessRightsDetails").kendoGrid(accessDetailsKendoGrid);
                        }
                        //bind click event to the checkbox
                        $("#addNewAccesRights").removeClass("show").addClass("hide");
                        $(".importServiceItem").removeClass("hide").addClass("show");
                    }
                    else {
                        $("#accessRightsDetails").replaceWith("<div id='accessRightsDetails' class='importServiceItem'><span  class=nodatadisplay>No data to display</span></div>");
                        $("#addNewSurveyBtn").trigger("click");
                        $(".importServiceItem").removeClass("show").addClass("hide");
                    }
                }
                else {
                    failureAlert(response.Message);
                }
            },
            error: function (data) {
                $("#page-spinner").hide();
                failureAlert(data);
            },
            data: { 'fromDate': $("#fromDate").val(), 'toDate': $("#toDate").val() },
            contentType: 'json'
        });
    });

    var accessDetailsKendoGrid = {
        dataSource: {
            data: {},
            schema: {
                model: {
                    fields: {
                        Date: { type: "string" },
                        Level: { type: "string" },
                        Logger: { type: "string" },
                        Message: { type: "string" },
                        Exception: { type: "string" }
                    }
                }
            },
            pageSize: 20
        },
        scrollable: {
            virtual: true
        },
        sortable: true,
        filterable: true,
        pageable: {
            input: true,
            numeric: false
        },
        columns: [
           {
               field: "Date", title: "Date", filterable: {
                   cell: {
                       operator: "contains",
                       suggestionOperator: "contains"
                   }
               }
           },
           {
               field: "Level", title: "Level", filterable: {
                   cell: {
                       operator: "contains",
                       suggestionOperator: "contains"
                   }
               }
           },
           { field: "Logger", title: "Logger" },
           { field: "Message", title: "Message" },
        { field: "Exception", title: "Exception" }
        ],
        noRecords: true,
        messages: {
            noRecords: "There is no data found"
        },
        dataBinding: function () {
            record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
        }
    };
</script>
