@{
    ViewBag.Title = "UserInfo";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<style>
    .userInfoHeading span {
        margin-bottom: 10px;
    }

    .info {
        color: #0097d4;
        font-size: 20px;
    }
</style>

<div class="col-md-12 userInfoHeading">
    <h1 class="userInfoHeading"><span>Authorization required</span></h1>

    <p class="pull-left padding-top-4"> <i class="fa fa-info-circle pull-left info"></i>Your access for this tool has to be enabled by the Administrator. Please contact the tool Administrator for more information.<br /><br />Please <a href="~/Account/Login">click here</a> to login.</p>
</div>


