/*!
 *  Gotham Font 
 */

/* FONT PATH
 * -------------------------- */

@font-face {
    font-family: 'GothamBold';
    src: url('../fonts/gotham-bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/gotham-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/gotham-bold.woff') format('woff'), /* Modern Browsers */
    url('../fonts/gotham-bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/gotham-bold.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 700;
}


@font-face {
    font-family: 'GothamLight';
    src: url('../fonts/gotham-light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/gotham-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/gotham-light.woff') format('woff'), /* Modern Browsers */
    url('../fonts/gotham-light.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/gotham-light.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-style: normal;
}