@charset "UTF-8";
/* CSS Document */

/*==RESET CSS===========================================*/
article, aside, details, figcaption, figure, footer, header, hgroup, hr, menu, nav, section {
    display: block;
}

a, hr {
    padding: 0;
}

abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}

ins, mark {
    background-color: #ff9;
    color: #000;
}

body {
    line-height: 1;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:after, blockquote:before, q:after, q:before {
        content: '';
        content: none;
    }

a {
    margin: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}

ins {
    text-decoration: none;
}

mark {
    font-style: italic;
    font-weight: 700;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    border: 0;
    border-top: 12px solid #fff;
    height: 1px;
    margin: 15px 0;
}

input, select {
    vertical-align: middle;
}

/*==DEFINE HTML5 BLOCK LVL TAGS=============================*/
article, aside, footer, header, hgroup, menu, nav, section {
    display: block;
}

/*CLEARFIX==================================================*/
.group:after, .group:before {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
}

/*==SITEWIDE GENERAL TAGS===================================*/
body {
    font-family: Arial,Helvetica,sans-serif;
    background-color: #fff;
    line-height: 20px;
}

.wrap {
    margin: 0 auto;
    width: 960px;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

/* CEB CSS BASE Start */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #585250;
}

h1, .h1 {
    font-size: 26px;
    color: #0a3f6b;
    font-weight: bold;
    line-height: 27px;
    margin-bottom: 15px;
}

h2, .h2 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    color: #00AEEF;
}

h3, .h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

h4, .h4 {
    font-size: 16px;
    font-weight: lighter;
    font-style: italic;
    margin-bottom: 10px;
}

h5, .h5 {
    margin-bottom: 5px;
}

h6, .h6 {
    font-weight: lighter;
    margin-bottom: 5px;
}

p {
    line-height: 20px;
    margin-bottom: 15px;
}

a {
    color: #0073bd;
    text-decoration: none;
    outline: none !important;
}

    a:hover {
        text-decoration: underline;
    }

    a:focus {
        outline: none !important;
    }

#projectTitle {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 18px;
    color: #fff;
    float: left;
    margin-left: 10px;
    padding: 8px 0;
}

#subTitle {
    padding-top: 2px;
    color: #fff;
    padding-bottom: 8px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

    #subTitle span {
        border-bottom: 7px solid #fff;
        padding: 5px 0;
        font-weight: bold;
    }

.navbar .navbar-brand {
    height: 50px;
}

.navbar-brand {
    padding: 3px 15px;
}

    .navbar-brand>img {
        display: inline-block;
        /*width: 100px;*/
        padding: 20px 0px;
    }

.navbar-nav {
    margin: 0;
}

#page-content-wrapper {
    /*padding-top: 15px;
    padding-bottom: 40px;*/
    min-height: 68vh;
}

.ceb-container {
    padding-right: 40px;
    padding-left: 40px;
}

.ceb-container-right {
    padding-right: 40px;
}

/* Footer  Start */
#footer {
    padding-top: 10px;
    background-color: #4d4f4f;
    border-top: 1px solid #e7e7e7;
    color: #ffffff;
}

#copyrightLinks {
    margin-top: 3px;
    float: left;
    margin-bottom: 9px;
}

.footer-link, .footer-link:active, .footer-link:hover, .footer-link:focus, .footerNote {
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
   
}

.footerNote .footer-link,
.footerNote .footer-link:active,
.footerNote .footer-link:hover
.footerNote .footer-link:focus
{   
    font-weight: bold;
    color: #7FD6F7;
}
#compliance {
    float: right;
}

    #compliance p {
        margin-top: 12px;
        float: left;
    }
/* Footer End */

/* CEB CSS BASE END */


/* Common CSS Start */

.strong {
    font-weight: bold;
}

input, select, textarea {
    border: 1px solid #cbcbcb;
    border-radius: 2px;
    padding: 6px 12px;
    outline: none;
    /*cursor: pointer;*/
}

    textarea:focus,
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:focus,
    input[type="date"]:focus,
    input[type="month"]:focus,
    input[type="time"]:focus,
    input[type="week"]:focus,
    input[type="number"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus,
    input[type="search"]:focus,
    input[type="tel"]:focus,
    input[type="color"]:focus,
    .uneditable-input:focus,
    select:focus,
    button:focus {
        border: 1px solid #cbcbcb;
        box-shadow: none;
        outline: 0 none;
    }


    .btn-primary,
    input[type="button"],
    input[type="submit"],
    button[type="submit"],
    input[type="submit"]:active {
        background-color: #0A3F6B !important;
        color: #FFF !important;
        border: none !important;
        box-shadow: none !important;
        outline: none !important;
    }

        .btn-primary:hover,
        input[type="button"]:hover,
        input[type="submit"]:hover,
        button[type="submit"]:hover {
            background-color: #00aeef !important;
        }

.btn-default {
    outline: none !important;
}

    .btn-default.disabled, .btn-default[disabled], .btn-primary.disabled, .btn-primary[disabled] {
        cursor: not-allowed;
        background-color: #00aeef;
        border: 1px solid #00aeef;
    }


.optionBox {
    display: inline-block;
    cursor: pointer;
    position: relative;
}

    .optionBox:before {
        content: "";
        display: inline-block;
        width: 19px;
        height: 19px;
        margin-right: 10px;
        position: absolute;
        left: 0;
        bottom: 1px;
        background-color: #FFF;
        border: 1px solid #cbcbcb;
    }

.radio .optionBox:before {
    border-radius: 8px;
}

.checkbox .optionBox:before {
    border-radius: 3px;
}

input[type=checkbox], input[type=radio] {
    margin: 1px 0 0;
}

    input[type=radio]:checked + .optionBox:before {
        content: "\2022";
        color: #00AEEF;
        font-size: 30px;
        text-align: center;
        line-height: 18px;
    }

    input[type=checkbox]:checked + .optionBox:before {
        content: "\2713";
        font-size: 16px;
        color: #00AEEF;
        text-align: center;
        line-height: 17px;
    }

    input[type=radio]:checked + .optionBox:after {
        padding-right: 24px;
    }

.checkbox label,
.radio label, .radio, .checkbox {
    font-weight: normal;
}

.placeholder {
    border: 1px solid #c4c4c4;
}

.form-control, .btn, .outerBorder {
    /*border: 1px solid #cbcbcb;*/
    border-radius: 2px;
    box-shadow: none;
    line-height: 1.428571429;
}

.outerBorder {
    padding: 6px 12px;
    min-height: 34px;
}

.ceb-container {
    padding-right: 20px;
    padding-left: 20px;
}


/* Show Hide Visibility */
.hide {
    display: none;
}

.show {
    display: block;
}

.visibile {
    visibility: visible;
}

.inVisibile {
    visibility: hidden;
}

/* Border Padding Margin */

.no-border {
    border: 0 !important;
}

.no-border-right {
    border-right: 0 !important;
}

.no-border-left {
    border-left: 0 !important;
}

.no-border-top {
    border-top: 0 !important;
}

.no-border-bottom {
    border-bottom: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.no-margin-right {
    margin-right: 0 !important;
}

.no-margin-left {
    margin-left: 0 !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.margin-2 {
    margin: 2px;
}

.margin-right-2 {
    margin-right: 2px;
}

.margin-left-2 {
    margin-left: 2px;
}

.margin-top-2 {
    margin-top: 2px;
}

.margin-bottom-2 {
    margin-bottom: 2px;
}

.margin-4 {
    margin: 4px;
}

.margin-right-4 {
    margin-right: 4px;
}

.margin-left-4 {
    margin-left: 4px;
}

.margin-top-4 {
    margin-top: 4px;
}

.margin-bottom-4 {
    margin-bottom: 4px;
}

.margin-5 {
    margin: 5px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}
.margin-7 {
    margin: 7px;
}
.margin-8 {
    margin: 8px;
}

.margin-right-8 {
    margin-right: 8px;
}

.margin-left-8 {
    margin-left: 8px;
}

.margin-top-8 {
    margin-top: 8px;
}

.margin-bottom-8 {
    margin-bottom: 8px;
}

.margin-10 {
    margin: 10px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-15 {
    margin: 15px;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-20 {
    margin: 20px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-40 {
    margin: 40px;
}

.margin-right-40 {
    margin-right: 40px;
}

.margin-left-40 {
    margin-left: 40px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-top-25 {
    margin-top: 25px;
}

.padding-2 {
    padding: 2px;
}

.padding-right-2 {
    padding-right: 2px;
}

.padding-left-2 {
    padding-left: 2px;
}

.padding-top-2 {
    padding-top: 2px;
}

.padding-bottom-2 {
    padding-bottom: 2px;
}

.padding-4 {
    padding: 4px;
}

.padding-right-4 {
    padding-right: 4px;
}

.padding-left-4 {
    padding-left: 4px;
}

.padding-top-4 {
    padding-top: 4px;
}

.padding-bottom-4 {
    padding-bottom: 4px;
}

.padding-5 {
    padding: 5px;
}

.padding-right-5 {
    padding-right: 5px;
}

.padding-left-5 {
    padding-left: 5px;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-8 {
    padding: 8px;
}

.padding-right-8 {
    padding-right: 8px;
}

.padding-left-8 {
    padding-left: 8px;
}

.padding-top-8 {
    padding-top: 8px;
}

.padding-bottom-8 {
    padding-bottom: 8px;
}

.padding-10 {
    padding: 10px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-15 {
    padding: 15px;
}

.padding-right-15 {
    padding-right: 15px;
}

.padding-left-15 {
    padding-left: 15px;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.padding-20 {
    padding: 20px;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-40 {
    padding: 40px;
}

.padding-right-40 {
    padding-right: 40px;
}

.padding-left-40 {
    padding-left: 40px;
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-bottom-40 {
    padding-bottom: 40px;
}


/* Cursor Setting */
.pointer {
    cursor: pointer;
}

.default {
    cursor: default;
}

.notAllowed {
    cursor: not-allowed;
}

/* center Text */
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.v-center {
    vertical-align: middle !important;
}

/* Position */
.relativePos {
    position: relative;
}

.absolutePos {
    position: absolute;
}

.fixedPos {
    position: fixed;
}

.inheritPos {
    position: inherit;
}

/* Display */
.block {
    display: block;
}

.inline {
    display: inline;
}

.inlineBlock {
    display: inline-block;
}

.table {
    display: table;
}

.tablerow {
    display: table-row;
}

.tablecol {
    display: table-column;
}

.tablecell {
    display: table-cell;
}


/* Text Color */
.error {
    color: red;
}

.success {
    color: #416428;
}

.linkText {
    color: #0073bd;
}

.noteText {
    font-size: 14px;
    color: #000;
}

.noteIconSup {
    font-size: 11px;
    left: 2px;
    top: -7px;
    color: #b80000;
    font-weight: bold;
}

.noteIcon {
    color: #b80000;
    font-size: 10px;
    font-weight: bold;
    vertical-align: top;
    line-height: 20px;
}

.noteIconSupCategory {
    left: -2px;
    top: -15px;
    margin-left: -7px;
}

.darkBlueText {
    color: #0a3f6b;
}

.blueText {
    color: #00aeef;
}

.goldText {
    color: #f4b213;
}

.greenText {
    color: #9cc84b;
}

.mintText {
    color: #2bc4b6;
}

.purpleText {
    color: #8d64aa;
}

.whiteText {
    color: #fff;
}

.defaultText {
    color: #585250;
}

/* Primary Background */
.blueBgColor {
    background-color: #00aeef;
}

.goldBgColor {
    background-color: #f4b213;
}

.greenBgColor {
    background-color: #9cc84b;
}

.mintBgColor {
    background-color: #2bc4b6;
}

.purpleBgColor {
    background-color: #8d64aa;
}

.grayBgColor {
    background-color: #f2f2f2;
}

.whiteBgColor {
    background-color: #fff;
}


/* Width and Height */

.fill {
    min-height: 100%;
    height: 100%;
}

.fill-image {
    width: 100% !important;
    height: 100% !important;
}

.width-100 {
    width: 100%;
}

.height-100 {
    height: 100%;
}

.height-min-200 {
    min-height: 200px !important;
}

.height-300 {
    height: 300px;
}

.height-500 {
    height: 500px;
}

.clearfix {
    clear: both;
}

.singleLineEllipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.max-width-400 {
    max-width: 400px;
}


.form-control:focus {
    box-shadow: none;
    border: 1px solid #ccc;
}
/* Common CSS End */

/* Header CSS Start */

#header {
    background-repeat: no-repeat;
    background-size: 100%;
    border: 0;
    height: 114px;
    background-color: #00aeef;
}


#userIcon {
    padding-top: 11px;
    padding-bottom: 10px;
}

    #userIcon a {
        padding: 10px 15px;
        background-color: transparent;
    }

    #userIcon .dropdown-menu {
        left: inherit;
        right: -5px;
    }


        #userIcon .dropdown-menu:after {
            position: absolute;
            top: -6px;
            right: 10px;
            display: inline-block;
            border-right: 6px solid transparent;
            border-bottom: 6px solid #ffffff;
            border-left: 6px solid transparent;
            content: '';
        }

        #userIcon .dropdown-menu li {
            padding: 7px;
        }

            #userIcon .dropdown-menu li:first-child {
                opacity: 0.8;
            }

            #userIcon .dropdown-menu li:hover {
                background-color: #f2f2f2;
            }

            #userIcon .dropdown-menu li a {
                padding: 0;
            }

    #userIcon img {
        cursor: pointer;
        width: 36px;
        height: 36px;
        display: table-cell;
        margin-top: -24px;
        margin-left: 10px;
    }
/* Header CSS End */


/*nav styles*/

.nabbar-cirle-icon {
    color: white;
    background-color: #0073BD;
    border-radius: 50%;
    padding: 6px;
    font-size: 14px;
}

.navbar {
    margin-bottom: 0;
    min-height: 42px;
}

.navbar-nav > li > a {
    padding-top: 14px;
    padding-bottom: 10px;
}




/* Spinner Start */

.spinner-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    z-index: 1000;
    display: none;
}

.spinner-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(33,33,33,1.0);
    opacity: 0.5;
}

.spinner {
    height: 50px;
    width: 50px;
    animation: rotate 0.8s infinite linear;
    border: 4px solid #fff;
    border-right-color: transparent;
    border-radius: 50%;
    padding: 5px;
    top: 50%;
    position: absolute;
    left: 46%;
}

.spinner-on-demand {
    height: 30px;
    width: 30px;
    animation: rotate 0.8s infinite linear;
    border: 8px solid #fff;
    border-right-color: transparent;
    border-radius: 50%;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* Spinner End */

/* Bootstrap CSS Start */

.form-horizontal .control-label {
    text-align: left;
    /*font-weight: 500;*/
}

.modal-content {
    border-radius: 2px;
}

.modal-dialog.small {
    margin-top: 25%;
    width: 415px;
    font-size: 100%;
}

.modal-dialog.medium {
    margin-top: 20%;
    width: 515px;
    font-size: 100%;
}

.modal-lg {
    width: 80%;
}

#chartPopupCloseBtn {
    position: absolute;
    top: -20px;
    right: -18px;
    max-width: 100%;
    background-image: url(../images/icon-close.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
}

/* Bootstrap CSS End */


#masthead {
    min-height: 144px;
    background-color: #00aeef;
    color: #fff;
    background: url("../Images/pageBanner.png");
    background-repeat: no-repeat;
    background-size: cover;
}

    #masthead h2 {
        font-size: 26px;
        font-weight: bold;
        line-height: 1.5;
        color: #fff !important;
        color: #fff;
        margin: 0;
    }

    #masthead span {
        border-bottom: 12px solid #fff;
        margin: 15px 0;
    }

/*
 * Component: Sidebar
 * ------------------
 */
.main-sidebar,
.left-side {
    /*position: absolute;*/
    top: 0;
    left: 0;
    padding-top: 1px;
    min-height: 100%;
    /*width: 230px;*/
    z-index: 810;
    -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

.main-menu {
    max-width: 265px;
    box-shadow: 0px -1px 9px #888888;
}

.sidebar {
    padding-bottom: 10px;
}

.sidebar-form input:focus {
    border-color: transparent;
}

.user-panel {
    position: relative;
    width: 100%;
    padding: 10px;
    overflow: hidden;
}

    .user-panel:before,
    .user-panel:after {
        content: " ";
        display: table;
    }

    .user-panel:after {
        clear: both;
    }

    .user-panel > .image > img {
        width: 100%;
        max-width: 45px;
        height: auto;
    }

    .user-panel > .info {
        padding: 5px 5px 5px 15px;
        line-height: 1;
        position: absolute;
        left: 55px;
    }

        .user-panel > .info > p {
            font-weight: 600;
            margin-bottom: 9px;
        }

        .user-panel > .info > a {
            text-decoration: none;
            padding-right: 5px;
            margin-top: 3px;
            font-size: 11px;
        }

            .user-panel > .info > a > .fa,
            .user-panel > .info > a > .ion,
            .user-panel > .info > a > .glyphicon {
                margin-right: 3px;
            }

.sidebar-menu {
    list-style: none;
    margin: 0;
    /*padding: 0 15px;*/
    font-size: 13px;
}

    .sidebar-menu > li {
        position: relative;
        margin: 0;
        padding: 0;
        border-bottom: 1px dotted #666;
        font-weight: bold;
        padding: 0 15px;
    }

        .sidebar-menu > li:last-child {
            border-bottom: none;
        }

        .sidebar-menu > li > a {
            padding: 12px 5px 12px 0;
            display: block;
        }

            .sidebar-menu > li > a > .fa,
            .sidebar-menu > li > a > .glyphicon,
            .sidebar-menu > li > a > .ion {
                width: 20px;
                font-size: 15px;
                margin-right: 8px;
            }

        .sidebar-menu > li .label,
        .sidebar-menu > li .badge {
            margin-right: 5px;
        }

        .sidebar-menu > li .badge {
            margin-top: 3px;
        }

        .sidebar-menu > li.header {
            padding: 10px 25px 0 15px;
            font-size: 12px;
        }

        .sidebar-menu > li > a > .fa-angle-right,
        .sidebar-menu > li > a > .pull-right-container > .fa-angle-right,
        .sidebar-menu > li > a > .pull-right-container > .fa-angle-down {
            width: auto;
            height: auto;
            padding: 0;
            margin-right: 10px;
            font-weight: bold;
        }

        .sidebar-menu > li > a > .fa-angle-right, .sidebar-menu > li > a > .fa-angle-down {
            position: absolute;
            top: 50%;
            right: 10px;
            margin-top: -8px;
        }

        .sidebar-menu > li.active > a > .fa-angle-left,
        .sidebar-menu > li.active > a > .pull-right-container > .fa-angle-left,
        sidebar-menu > li.active > a > .fa-angle-down,
        .sidebar-menu > li.active > a > .pull-right-container > .fa-angle-down {
            -webkit-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }

        .sidebar-menu > li.active > .treeview-menu {
            display: block;
        }

    .sidebar-menu .treeview-menu {
        display: none;
        list-style: none;
        padding: 0;
        margin: 0;
        padding-left: 15px;
    }

        .sidebar-menu .treeview-menu .treeview-menu {
            padding-left: 20px;
        }

        .sidebar-menu .treeview-menu > li {
            margin: 0;
        }

            .sidebar-menu .treeview-menu > li > a {
                padding: 5px 5px 5px 15px;
                display: block;
                font-size: 14px;
            }

                .sidebar-menu .treeview-menu > li > a > .fa,
                .sidebar-menu .treeview-menu > li > a > .glyphicon,
                .sidebar-menu .treeview-menu > li > a > .ion {
                    width: 20px;
                }

                .sidebar-menu .treeview-menu > li > a > .pull-right-container > .fa-angle-left,
                .sidebar-menu .treeview-menu > li > a > .pull-right-container > .fa-angle-down,
                .sidebar-menu .treeview-menu > li > a > .fa-angle-left,
                .sidebar-menu .treeview-menu > li > a > .fa-angle-down {
                    width: auto;
                }
/*
 * Component: Sidebar Mini
 */
@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .content-wrapper,
    .sidebar-mini.sidebar-collapse .right-side,
    .sidebar-mini.sidebar-collapse .main-footer {
        margin-left: 50px !important;
        z-index: 840;
    }

    .sidebar-mini.sidebar-collapse .main-sidebar {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        width: 50px !important;
        z-index: 850;
    }

    .sidebar-mini.sidebar-collapse .sidebar-menu > li {
        position: relative;
    }

        .sidebar-mini.sidebar-collapse .sidebar-menu > li > a {
            margin-right: 0;
        }

            .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span {
                border-top-right-radius: 4px;
            }

        .sidebar-mini.sidebar-collapse .sidebar-menu > li:not(.treeview) > a > span {
            border-bottom-right-radius: 4px;
        }

        .sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
            padding-top: 5px;
            padding-bottom: 5px;
            border-bottom-right-radius: 4px;
        }

        .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
        .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
            display: block !important;
            position: absolute;
            width: 180px;
            left: 50px;
        }

        .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span {
            top: 0;
            margin-left: -3px;
            padding: 12px 5px 12px 20px;
            background-color: inherit;
        }

        .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container {
            position: relative !important;
            float: right;
            width: auto !important;
            left: 180px !important;
            top: -22px !important;
            z-index: 900;
        }

            .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container > .label:not(:first-of-type) {
                display: none;
            }

        .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
            top: 44px;
            margin-left: 0;
        }

        .sidebar-mini.sidebar-collapse .main-sidebar .user-panel > .info,
        .sidebar-mini.sidebar-collapse .sidebar-form,
        .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span,
        .sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu,
        .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > .pull-right,
        .sidebar-mini.sidebar-collapse .sidebar-menu li.header {
            display: none !important;
            -webkit-transform: translateZ(0);
        }

    .sidebar-mini.sidebar-collapse .main-header .logo {
        width: 50px;
    }

        .sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
            display: block;
            margin-left: -15px;
            margin-right: -15px;
            font-size: 18px;
        }

        .sidebar-mini.sidebar-collapse .main-header .logo > .logo-lg {
            display: none;
        }

    .sidebar-mini.sidebar-collapse .main-header .navbar {
        margin-left: 50px;
    }
}

.sidebar-menu,
.main-sidebar .user-panel,
.sidebar-menu > li.header {
    white-space: nowrap;
    overflow: hidden;
}

    .sidebar-menu:hover {
        overflow: visible;
    }

    .sidebar-form,
    .sidebar-menu > li.header {
        overflow: hidden;
        text-overflow: clip;
        border-bottom: none;
    }


    .sidebar-menu > li {
        /* IE10+ */
        background-image: -ms-linear-gradient(top, #005D8A 0%, #0093D9 100%);
        /* Mozilla Firefox */
        background-image: -moz-linear-gradient(top, #005D8A 0%, #0093D9 100%);
        /* Opera */
        background-image: -o-linear-gradient(top, #005D8A 0%, #0093D9 100%);
        /* Webkit (Safari/Chrome 10) */
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #005D8A), color-stop(100, #0093D9));
        /* Webkit (Chrome 11+) */
        background-image: -webkit-linear-gradient(top, #005D8A 0%, #0093D9 100%);
        /* W3C Markup */
        background-image: linear-gradient(to bottom, #005D8A 0%, #0093D9 100%);
        /* IE10+ */
        background-image: -ms-linear-gradient(top, #0075AD 0%, #0093D9 100%);
        /* Mozilla Firefox */
        background-image: -moz-linear-gradient(top, #0075AD 0%, #0093D9 100%);
        /* Opera */
        background-image: -o-linear-gradient(top, #0075AD 0%, #0093D9 100%);
        /* Webkit (Safari/Chrome 10) */
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0075AD), color-stop(100, #0093D9));
        /* Webkit (Chrome 11+) */
        background-image: -webkit-linear-gradient(top, #0075AD 0%, #0093D9 100%);
        /* W3C Markup */
        background-image: linear-gradient(to bottom, #0075AD 0%, #0093D9 100%);
    }

        .sidebar-menu > li > a {
            position: relative;
            color: #666;
            text-decoration: none;
        }

            .sidebar-menu > li > a:link, .sidebar-menu li > a:hover, .sidebar-menu li > a:visited, .sidebar-menu li > a:active {
                text-decoration: none;
            }

            .sidebar-menu > li > a > .pull-right-container {
                position: absolute;
                right: 10px;
                top: 50%;
                margin-top: -7px;
            }

    .sidebar-menu .treeview-menu > li > a {
        color: #666;
        font-size: 12px;
        text-decoration: none;
    }

        .sidebar-menu > li > a:hover, .sidebar-menu .treeview-menu > li > a:hover {
            /*color: #0073bd;*/
            color: #95e1da;
            font-weight: bold;
        }

    .sidebar-menu > li.active > a, .sidebar-menu > li.active > i,
    .sidebar-menu .treeview-menu > li.active > a, .sidebar-menu .treeview-menu > li.active > i {
        /*font-weight: bolder;*/
        color: #f9d889;
    }

    .sidebar-menu > li > a > i.fa {
        font-size: 18px;
    }

/* Overall Page */

#getStartContainer {
    background: #9CC84B !important;
    padding: 9px 9px 9px 9px;
    font-size: 15px;
    font-weight: bold;
    width: 187px;
    color: #fff !important;
    cursor: pointer;
    /*font-family: GothamBold;*/
}

    #getStartContainer,
    #getStartContainer:hover,
    #getStartContainer:active {
        color: #fff !important;
        text-decoration: none;
    }

        #getStartContainer i {
            float: right;
            margin-top: 2px;
            font-size: 12px;
        }


.chartBody {
    border: 1px solid #f2f2f2;
    /*background: #f2f2f2;*/
}

.chartTitle {
    padding: 10px 5px 2px 5px;
    font-weight: bold;
    /* background-color: #7fd6f7; */
    color: #ffa500;
    text-align: center;
    font-size: 18px;
    font-family: 'GothamBold';
}


.chartSubTitle {
    /*padding: 8px 5px;*/
    font-weight: bold;
    /* background-color: #7fd6f7; */
    /*color: #787878;*/
    color: #000;
    text-align: center;
    font-size: 12px;
    padding-top: 0;
    /*font-style: italic;*/
    font-family: GothamLight;
}

.hchart, .tableChart {
    /*padding: 0 10px 10px 10px;*/
    /*border:1px solid #f00;*/
}

.tableChart {
    min-height: 120px;
}

.highcharts-container {
    width: 100% !important;
    height: 100% !important;
}

.chartIcon {
    font-size: 12px;
    cursor: pointer;
    margin-top: -3px;
    position: absolute;
    padding: 4px;
    background-color: #e9e9e9;
    background-image: -webkit-linear-gradient(top, #fff 0%, #e9e9e9 100%);
    background-image: -moz-linear-gradient(top, #fff 0%, #e9e9e9 100%);
    background-image: -ms-linear-gradient(top, #fff 0%, #e9e9e9 100%);
    background-image: -o-linear-gradient(top, #fff 0%, #e9e9e9 100%);
    background-image: linear-gradient(to bottom, #fff 0%, #e9e9e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='white', EndColorStr='#e9e9e9');
    margin-right: 9px;
    border: 1px solid rgba(196, 196, 196, 0.65);
    width: 53px;
    text-align: center;
    color: rgba(0, 0, 0, 0.77);
}

    .chartIcon.zoomIn {
        right: 131px;
    }

    .chartIcon.fa-print {
        right: 76px;
    }

    .chartIcon.fa-download {
        right: -6px;
        width: 75px;
    }

    .chartIcon.fa-sort {
        right: 186px;
    }

.expandCollapseIcon {
    height: 23px;
    right: 133px;
    padding: 3px;
    width: 23px;
}

    .expandCollapseIcon img {
        width: 14px;
        /* margin-top: -0.5px; */
        display: block;
        margin: 0 auto;
    }

.exportBtn .dropdown-menu:after {
    position: absolute;
    top: -6px;
    right: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #4d4d4f;
    border-left: 6px solid transparent;
    content: '';
}

.exportBtn .dropdown-menu {
    left: inherit;
    right: 3px;
    margin-top: 26px;
    background-color: #4d4d4f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

    .exportBtn .dropdown-menu > li > a {
        color: #fff;
        color: #fff;
        background: transparent;
        border: none;
        text-align: left;
        border-radius: 0;
        box-shadow: none;
    }

        .exportBtn .dropdown-menu > li > a:hover, .exportBtn .dropdown-menu > li > a:focus {
            color: #585250;
            background-color: #f5f5f5;
            box-shadow: none !important;
            border: none;
        }

.exportLoaderIcon {
    margin-right: -17px;
    margin-top: 2px;
    font-size: 18px;
}

.table {
    margin-bottom: 0;
}

    .table .table {
        background-color: #f2f2f2;
        font-size: 94%;
    }

.tableChart thead {
    background-color: #9cc84b;
    color: #fff;
}

.tableChart .highlight {
    background-color: #cde3a5;
}

.sidebar-menu > li.disabled a,
.treeview-menu > li.disabled a {
    cursor: not-allowed;
}

#kendo-export-div {
    position: absolute;
    top: 0;
    left: 0;
}

/* Kendo UI Start */
/*.k-grid-header th.k-header {
    font-weight: bold;
}*/

/*.k-autocomplete .k-input,
.k-autocomplete .k-input:focus {
    border: 1px solid #cbcbcb;
    border-radius: 2px;
   
    outline: none;
    background: #fff;
    box-shadow: none;
}*/
.cebDropDownList .k-dropdown-wrap.k-state-default {
    background: #fff;
    border: none;
    /*height: 34px;*/
    padding: 2px 12px;
    border-radius: 2px;
    border: 1px solid #cbcbcb;
}



/* Import File */

#noMoreNewMemberMessage > .error i {
    font-size: 20px;
}

.well {
    box-shadow: none;
    border-radius: 2px;
}


#errorMsg, #sucessMsg {
    font-weight: bold;
}

    #errorMsg i, #successMsg i,
    .error i, .success i, .info i {
        font-size: 22px;
        vertical-align: bottom;
    }

.form-control[readonly] {
    background-color: #fff;
    cursor: not-allowed;
}

.no-of-period {
    background-color: #0a3f6b;
    padding: 0px 7px;
    cursor: pointer;
    color: #fff;
    text-align: right;
    float: right;
    font-size: 13px;
}

#addNewRecord .control-label,
#editRecord .control-label {
    width: 148px;
}


#confirmationModal .btn {
    padding: 4px 11px;
}
/* New Style */

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}


@media (max-width: 768px) {
    .row-eq-height {
        display: block;
    }
}

body {
    background-color: #ECF0F5;
}

.h1, h1 {
    font-size: 21px;
}

#header {
    box-shadow: 0 0 4px 0 rgb(9, 67, 94);
    background-color: #fff;
    background-image: url("../Images/banner.png");
    background-repeat: no-repeat;
    background-size: 100% 257%;
}

.navbar-brand > img {
    padding: 20px 0px;
}

#projectTitle {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 22px;
    color: #fff;
    float: left;
    margin-left: 38px;
    padding: 10px 0;
}

#mainTitle {
    /* border-bottom: 11px solid #fff; */
    padding-bottom: 20px;
}

#companyName {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.main-menu {
    background-color: #003751;
}

.sidebarAccountImage {
    /*  background-image: url("https://www.cebglobal.com/content/dam/cebglobal/us/EN/site-wide-assets/images/visual-identity-image-library/triple-heroes/TripleHero-photo-boat-detail-0001-Blue.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 141px;*/
}

.sidebar-menu > li > a {
    color: #fff;
}

    .sidebar-menu > li > a > i.fa {
        font-size: 22px;
    }


    .sidebar-menu > li > a > .fa, .sidebar-menu > li > a > .glyphicon, .sidebar-menu > li > a > .ion {
        width: 20px;
        font-size: 22px;
        margin-right: 33px;
    }

.sidebar-menu > li {
    border-bottom: 1px solid rgba(0,0,0,0.15);
}

.chartBody, .pageContent {
    background-color: #fff;
    border: 1px solid #e7ecf3;
    border-bottom: 1px solid rgba(0,0,0,0.17);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border-top: 2px solid rgba(127, 214, 247, 1);
    width: 100%;
    position: relative;
}

#chartPopupModal .chartBody {
    border-top: 1px solid #e7ecf3;
}

.pageContent {
    padding: 15px;
}


/* Sidebar New */


#sideBarMain {
    min-width: 240px;
    max-width: 240px;
    /*min-height: 65px;*/
    min-height: 75vh;
    /*min-height: 52px !important;*/
    box-shadow: 0px -1px 9px #888888;
    background-color: #003751;
    font-size: 13px;
}

@media (max-width: 1024px) {

    .row-eq-height {
        display: block;
    }

    #sideBarMain {
        max-width: 100%;
        min-height: 50px !important;
        min-width: 100%;
    }

    #main-content-area {
        min-width: 100% !important;
    }

    .navbar-collapse.in {
        overflow-y: inherit;
        padding-top: 50px !important;
        display: block;
    }

    .navbar-toggle {
        background-color: #0a3f6b;
        border: 1px solid #0a3f6b;
        margin-right: 8px;
    }

        .navbar-toggle .icon-bar {
            background-color: #fff;
        }
}

@media (max-width: 1024px) {
    #projectTitle {
        font-size: 17px;
    }
}

.filterHeading {
    line-height: 1.2857em;
    margin-top: 20px;
    color: rgba(0,0,0,.87);
}

.filterDataSections {
    line-height: 1.3;
    font-size: 13px;
    color: rgba(0,0,0,.87);
    margin: 1px 0;
}

    .filterDataSections .section {
        border-bottom: 1px solid rgba(19, 173, 246, 0.29);
    }

        .filterDataSections .section:last-child {
            border-bottom: none;
        }

    .filterDataSections .sectionTitle {
        padding: 12px 0;
        cursor: pointer;
        font-weight: bold;
        /* IE10+ */
        background-image: -ms-linear-gradient(top, #0075AD 0%, #0093D9 100%);
        /* Mozilla Firefox */
        background-image: -moz-linear-gradient(top, #0075AD 0%, #0093D9 100%);
        /* Opera */
        background-image: -o-linear-gradient(top, #0075AD 0%, #0093D9 100%);
        /* Webkit (Safari/Chrome 10) */
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0075AD), color-stop(100, #0093D9));
        /* Webkit (Chrome 11+) */
        background-image: -webkit-linear-gradient(top, #0075AD 0%, #0093D9 100%);
        /* W3C Markup */
        background-image: linear-gradient(to bottom, #0075AD 0%, #0093D9 100%);
    }

        /*.filterDataSections .sectionSubTitle::after {
            content: "\f107";
            float: right;
            font-family: FontAwesome;
        }*/
        .filterDataSections .sectionTitle .fa,
        .filterDataSections .sectionTitle .glyphicon {
            font-size: 22px;
            padding-right: 10px;
            vertical-align: text-bottom;
        }

        .filterDataSections .sectionTitle .glyphicon {
            font-size: 20px;
        }
    /* without dropdown arrow start */
    .filterDataSections .sectionMainTitle {
        padding: 10px 0;
        cursor: pointer;
        font-weight: normal;
    }
    /* without dropdown arrow End */


    .filterDataSections a {
        color: #fff;
        display: block;
        padding: 0 15px;
        text-decoration: none !important;
    }

        .filterDataSections a:hover {
            color: inherit;
            /*font-weight: bold;*/
            text-decoration: none;
        }

    .filterDataSections .sectionCotent {
        font-weight: normal;
        /*padding-bottom: 10px;*/
    }

        .filterDataSections .sectionCotent ul {
            list-style: none;
            line-height: 20px;
            font-size: 13px;
            padding-top: 5px;
        }

            .filterDataSections .sectionCotent ul li {
                cursor: pointer;
                padding: 5px;
            }

                .filterDataSections .sectionCotent ul li a i {
                    padding-right: 5px;
                    font-size: 14px;
                }

                .filterDataSections a.active, .filterDataSections .sectionTitle a.active .filterDataSections .sectionCotent ul li.active, .filterDataSections .sectionCotent ul li.active:hover {
                    /*font-style: italic;*/
                    color: #f4b213;
                }

                .filterDataSections a:hover,
                .filterDataSections .sectionTitle a:hover,
                .filterDataSections .sectionCotent ul li:hover {
                    color: #2bc4b6;
                }

                .filterDataSections .sectionTitle.disabled a:hover,
                .filterDataSections .sectionCotent ul li.disabled a:hover {
                    cursor: not-allowed;
                }
/* customKendoTabel Start */
.customKendoTabel {
    /*font-size: 82%;*/
    display: block;
    overflow: auto;
    font-family: GothamLight;
    font-size: 92%;
}

    .customKendoTabel .k-header {
        /*background: #0090d4;*/
        background: #00aeef;
        color: #fff;
        border: 1px solid #e7e7e7;
        text-align: center !important;
    }

    .customKendoTabel .k-grid-header {
        background: #00aeef;
    }

.adminKendoTable .k-grid-header {
    background: #f3f3f4;
}

.customKendoTabel .k-grid-header th.k-header > .k-link {
    color: #fff;
    padding: .7em .6em .7em .6em;
}

.customKendoTabel input.k-textbox {
    height: 1.65em;
    border-radius: 0;
    width: 37px;
    text-align: center;
    text-indent: initial;
    margin-top: -3px;
}

.customKendoTabel .k-grid-header th.k-header:first-child {
    border-left: 1px solid #0075AD;
    border-color: #00aeef;
}


.customKendoTabel .k-grid-header th.k-header {
    vertical-align: middle;
    overflow: visible;
    white-space: normal;
    padding: .5em 0.4em 0.4em .4em;
    border-top: 1px solid #0075AD;
    border-bottom: 1px solid #0075AD;
    padding: 0.4em 0.5em .4em .5em;
    border-top: 1px solid #00aeef;
    border-bottom: 1px solid #00aeef;
}


.customKendoTabel .k-grid td {
    text-align: center;
    padding: .6em .6em;
    color: #000;
}

.customKendoTabel .k-grid tr td {
    border-color: #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.customKendoTabel .k-grid tr:last-child td {
    border-bottom: none;
}

.customKendoTabel .k-grid td.text-left {
    text-align: left;
}

.customKendoTabel .k-state-selected {
    background-image: none;
    background-color: #003751;
    border-color: #003751;
}

.customKendoTabel .k-pager-wrap {
    background-color: #ffffff;
}

.customKendoTabel .k-grid-content-locked {
    overflow: visible;
}

.customKendoTabel .k-filter-row .k-dropdown-operator,
.customKendoTabel .k-autocomplete.k-state-default {
    background: none !important;
}

.tableChartCategory {
    /*font-size:16px;*/
    font-family: GothamBold;
}

.tableChartOverallScore {
    /*font-size:14px;*/
    font-family: GothamBold;
}

.tableChartColumn {
    /*font-size:12px;*/
    font-family: GothamLight;
}

.customKendoTabel .k-grid-header th.k-header[data-field|=OverAllScore] {
    font-weight: bold !important;
    font-size: 14px;
}

.customKendoTabel .k-header > .k-grid-filter {
    padding: .8em .2em .4em;
}

.customKendoTabel .k-alt {
    background-color: #fff;
}

.kendoUploadIcon {
    color: #515967;
}

/*.score_1 {
    background-color: #87D138;
}

.score_2 {
    background-color: #FFCC00;
}

.score_3 {
    background-color: #FF7200;
}

.score_4 {
    background-color: #FF2A00;
}*/

.k-grid-header table, .k-grid-content table {
    width: 100% !important;
}

body, body.modal-open {
    padding: 0 !important;
}

.modal-open {
    overflow: auto;
}

/* Supplier Analysis */

.col-md-6.myHalfColLeft, .col-xs-6.myHalfColLeft {
    padding: 0px 10px 0px 15px;
}

.col-md-6.myHalfColRight, .col-xs-6.myHalfColRight {
    padding: 0px 15px 0px 10px;
}

.chartBackgroundColor {
    background-color: #f5f5f5;
}

#gridSupplierKendoTabel .k-grid td, .adminKendoTable .k-grid td {
    text-align: left;
}

#gridSupplierScoreByKPIKendoTabel .k-grid td {
    text-align: left;
}

#selectedKPITrendsKendoTabel .k-grid td {
    text-align: left;
}

#timeSeriesKPITrends .k-grid td {
    text-align: left;
}

#selected_filter {
    font-weight: bold;
    color: #aa5019;
    font-size: 15px;
}

input[type=checkbox].checkboxFilter {
    height: 24px;
    background-color: #fff;
    border-color: #fff;
    text-align: center;
    /*margin-left: -15%;*/
    margin-top: 0px;
    margin-bottom: 3px;
    cursor: pointer;
}

.grayoutSelectedTimeoreiod {
    opacity: 0.8;
    cursor: not-allowed;
}

#downloadFullReport {
    color: #fff;
    border: none;
    border: 1px solid #fff;
    margin-top: 13px;
    margin-right: 12px;
    background-color: #003751;
    font-weight: bold;
    border-radius: 0;
    padding: 4px 7px;
}

    #downloadFullReport:hover {
        background-color: #2bc4b6;
    }

.printAll {
    font-size: 12px;
    color: #585250;
    float: right;
    margin-right: 2px;
    /*text-decoration: underline;*/
    cursor: pointer;
    font-weight: bold;
}

#chipsContainer {
    margin-top: -5px;
    padding-bottom: 5px;
}


.chips {
    display: inline-block;
    padding: 0 15px;
    height: 24px;
    font-size: 12px;
    line-height: 24px;
    border-radius: 25px;
    color: #000;
    cursor: pointer;
    margin-right: 5px;
    background-color: rgba(14, 186, 250, 0.35);
}

    .chips:hover {
        background-color: #00aeef;
    }

    .chips a, .chips a:hover, .chips .absolutePos:focus {
        color: #0a3f6b;
        text-decoration: none;
        font-weight: bold;
        vertical-align: super;
    }

.closebtn {
    padding-left: 10px;
    color: #000;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

    .closebtn:hover {
        color: #fff;
    }



#downloadReport {
    border: 1px solid #1a8fbc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    font-family: arial, helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    color: #000000;
    background-color: #45d9cb;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#45d9cb), to(#00baa8));
    background-image: -webkit-linear-gradient(top, #45d9cb, #00baa8);
    background-image: -moz-linear-gradient(top, #45d9cb, #00baa8);
    background-image: -ms-linear-gradient(top, #45d9cb, #00baa8);
    background-image: -o-linear-gradient(top, #45d9cb, #00baa8);
    background-image: linear-gradient(to bottom, #45d9cb, #00baa8);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#45d9cb, endColorstr=#00baa8);
    /* background-image: linear-gradient(to bottom, #0088bc, #0a3f6b); */
}


    #downloadReport:hover {
        border: 1px solid #1a8fbc;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        font-size: 12px;
        font-family: arial, helvetica, sans-serif;
        padding: 10px 10px 10px 10px;
        text-decoration: none;
        display: inline-block;
        font-weight: bold;
        color: #000000;
        background-color: #43e7d8;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#43e7d8), to(#0fcdbb));
        background-image: -webkit-linear-gradient(top, #43e7d8, #0fcdbb);
        background-image: -moz-linear-gradient(top, #43e7d8, #0fcdbb);
        background-image: -ms-linear-gradient(top, #43e7d8, #0fcdbb);
        background-image: -o-linear-gradient(top, #43e7d8, #0fcdbb);
        background-image: linear-gradient(to bottom, #43e7d8, #0fcdbb);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#43e7d8, endColorstr=#0fcdbb);
    }

#downloadReport {
    padding: 4px 7px !important;
    margin-top: 11px !important;
    color: #ffffff !important;
    margin-right: 10px !important;
}

.nodatadisplay {
    display: block;
    width: 110px;
    height: 100%;
    margin: 0 auto;
    font-weight: bold;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #666666;
    fill: #666666;
    padding-top: 37px;
}

/* Print */
/*@page {
  size: A4;
 
}*/
@media print {
    html, body {
        width: 320mm;
        height: 210mm;
        /*width:350mm;
height:292.1mm;*/
        /*max-width:1349px;
        max-height:1104px*/
    }

    #data-avail {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        transform: rotate(-90deg);
        -webkit-transform: scale(97);
        -moz-transform: scale(97);
        transform: scale(97);
    }

    .col-md-6 {
        width: 50%;
        float: left;
    }

    #data-avail > .chartBody {
        box-shadow: none;
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        max-width: 1079px;
    }

    .hchart, .tableChart {
        margin: 0 1px 1px 0;
        /*padding:1px;*/
    }

    .margin-bottom-20 {
        margin-bottom: 8mm;
    }

    h1, .h1 {
        color: #0a3f6b !important;
    }

    #selected_filter, #selected_filter span {
        color: #aa5019 !important;
    }

    .chartTitle span {
        color: #ffa500 !important;
    }

    .customKendoTabel .k-grid-header th {
        background: #00aeef !important;
        border-color: #f2f2f2 !important;
        color: #fff !important;
    }

        .customKendoTabel .k-grid-header th.k-header > .k-link {
            color: #fff !important;
        }
}


/* Temp CSS */

/*.chartTitle, .chartSubTitle
{
    text-align: left;
    padding-left:12px;
}*/

.chartIcon {
    width: 41px;
    font-size: 10px;
    padding: 3px 0;
}

.expandCollapseIcon {
    width: 41px;
    height: 32px;
    right: 94px;
}

.fa-search-plus:before, .fa-download:before, .fa-print:before, .fa-unsorted:before, .fa-sort:before {
    display: block;
    font-size: 14px;
}

.chartIcon.zoomIn {
    right: 94px;
}

.chartIcon.fa-download {
    width: 50px;
}

.chartIcon.fa-print {
    right: 51px;
}

.chartIcon.fa-sort {
    right: 137px;
}

#zoomNoteText {
    font-style: italic;
    font-size: 12px;
}

.expandCollapseText {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 10px;
    display: block;
}
@media(min-width: 768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: -7px;
    }
}